
<menu></menu>

<h1>numbers</h1>



<div class="container">
  <button class="btn-flat" >
    <img src="/src/assets/backgrounds/banderas/spain.png" alt="flat_image" class="card-img"
    (click)="cambioIdomaspanish()">
  </button>

  <button class="btn-flat">
    <img src="assets/backgrounds/banderas/england.png" alt="flat_image" class="card-img"
    (click)="cambiodIdomaIngles()">
  </button>

  <button class="btn-flat">
    <img src="assets/backgrounds/banderas/chinese.png" alt="flat_image" class="card-img"
    (click)="cambioIdomachino()">
  </button>

</div>

<div>
<button id="uno" (click)="playSelectedLenguage('uno')"></button>
<button id="dos" (click)="playSelectedLenguage('dos')"></button>
<button id="tres" (click)="playSelectedLenguage('tres')"></button>
<button id="cuatro" (click)="playSelectedLenguage('cuatro')"></button>
<button id="cinco" (click)="playSelectedLenguage('cinco')"></button>
<button id="seis" (click)="playSelectedLenguage('seis')"></button>
<button id="siete" (click)="playSelectedLenguage('siete')"></button>
<button id="ocho" (click)="playSelectedLenguage('ocho')"></button>
<button id="nueve" (click)="playSelectedLenguage('nueve')"></button>
</div>
<div>

  <button id="cero" (click)="playSelectedLenguage('cero')"></button>
</div>
