<menu></menu>

<h1>Colores</h1>

<div id="container">
  <button id="red" (click)="playSound('red')"></button>
  <button id="green" (click)="playSound('green')"></button>
  <button id="yellow" (click)="playSound('yellow')"></button>
  <button id="blue" (click)="playSound('blue')"></button>
  <button id="white" (click)="playSound('white')"></button>
  <button id="brown" (click)="playSound('brown')"></button>
  <button id="orange" (click)="playSound('orange')"></button>
  <button id="black" (click)="playSound('black')"></button>
  <button id="pink" (click)="playSound('pink')"></button>
  <button id="purple" (click)="playSound('purple')"></button>
  <button id="turquoise" (click)="playSound('turquoise')"></button>
  <button id="grey" (click)="playSound('grey')"></button>
</div>
